html {
    font-family: 'naibo', sans-serif;
    background-color: #2C3333;
    color: #fafafa;
}

.color1 {
    background-color: #2E4F4F;
}

.p1{
    background-color: #236888;
}

.p2 {
    background-color: #0E8388;
}

.p3 {
    background-color: #CBE4DE;
    color: #2C3333;
}
